@page "/purchases/create"

<MudCard>
    <div class="p-2">
        <MudItem>
            <MudText Typo="Typo.h5"><i class="bi bi-bag"></i> Ingresar Compra</MudText>
        </MudItem>
        <EditForm Model="purchaseDTO">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudCardContent>
                        <MudTextField Label="Nombre"
                                      @bind-Value="purchaseDTO.Date"
                                      For="@(() => purchaseDTO.Date)" />
                        <MudAutocomplete T="Supplier"
                                         Label="Proveedor"
                                         Placeholder="--Seleccione un proveedor--"
                                         SearchFunc="SearchSupplierAsync"
                                         Value="selectedSupplier"
                                         ValueChanged="CityChanged"
                                         ToStringFunc="@(e=> e==null?null : $"{e.SupplierName}")">
                            <ItemTemplate Context="itemContext">
                                @itemContext.SupplierName
                            </ItemTemplate>
                        </MudAutocomplete>
                        <MudTextField Label="Comentarios"
                                      @bind-Value="purchaseDTO.Remarks"
                                      For="@(() => purchaseDTO.Remarks)" />
                    </MudCardContent>
                </MudItem>
                <MudItem xs="12" sm="6">
                </MudItem>
            </MudGrid>
        </EditForm>

        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Info" Href="/purchases">
            Regresar
        </MudButton>
        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary" OnClick="SavePurchaseAsync">
            Guardar
        </MudButton>
    </div>

</MudCard>

