@page "/Login"

<div class="row">
    <div class="col-12">

        <EditForm Model="loginDTO" OnValidSubmit="LoginAsync">
            <DataAnnotationsValidator />

            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Inicio de Sesión</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid Class="mb-4">
                        <MudItem xs="12" sm="12">
                            <MudTextField Label="Email" @bind-Value="@loginDTO.Email" />
                            <ValidationMessage For="@(() => loginDTO.Email)" />
                        </MudItem>
                        <MudItem xs="12" sm="12">
                            <MudTextField Label="Contraseña" InputType="InputType.Password" @bind-Value="@loginDTO.Password" />
                            <ValidationMessage For="@(() => loginDTO.Password)" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions>
                    <MudGrid Class="mb-4">
                        <MudItem xs="12" sm="6">
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Login" Color="Color.Primary" ButtonType="ButtonType.Submit">
                                Iniciar Sesión
                            </MudButton>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Error" OnClick="CloseModalAsync">
                                Cancelar
                            </MudButton>
                        </MudItem>
                        <MudItem xs="12" sm="12">
                            <div class="d-flex flex-column">
                                <MudLink Href="/Register" Underline="Underline.Always">¿No eres usuario aún? Resgitrate aquí</MudLink>
                                <MudLink Href="/RecoverPassword" Underline="Underline.Always">¿Has olvidado tu contraseña?</MudLink>
                                <MudLink Href="/ResendToken" Underline="Underline.Always">Reenviar correro de activación de cuenta</MudLink>
                            </div>
                        </MudItem>
                    </MudGrid>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>
</div>
