@page "/inventories/count/{Id:int}"

<MudCard>
    <div class="p-2">
        <MudItem Class="mb-2">
            <MudText Typo="Typo.h4">Ingresar conteo <i class="bi bi-1-square-fill"></i></MudText>
        </MudItem>
        <MudTable Items="@InventoryDetails"
                  @ref="table"
                  ServerData="@(new Func<TableState, Task<TableData<InventoryDetail>>>(LoadListAsync))"
                  Dense="true"
                  Hover="true"
                  Striped="true"
                  FixedHeader="true"
                  FixedFooter="true"
                  Class="mb-2">
            <HeaderContent>
                <MudTh>Producto</MudTh>
                <MudTh>Costo</MudTh>
                <MudTh>Cantidad</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Producto">@context.Product!.Name</MudTd>
                <MudTd DataLabel="Costo">
                    <MudNumericField @bind-Value="@context.Cost" Label="Costo" />
                </MudTd>
                <MudTd DataLabel="Cantidad">
                    <MudNumericField @bind-Value="@context.Count1" Label="Cantidad" />
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>No se encontraron registros.</MudText>
            </NoRecordsContent>
            <PagerContent>
                <MudTablePager RowsPerPageString="Numero de Registros:"
                               PageSizeOptions="pageSizeOptions"
                               AllItemsText="Todos" />
            </PagerContent>
        </MudTable>
        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Info" Href="/inventories">
            Regresar
        </MudButton>
        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary" OnClick="SaveCountAsync">
            Guardar
        </MudButton>
    </div>
</MudCard>
